[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "stddiff.spark"]
	path = stddiff.spark
	url = https://github.com/alicja-januszkiewicz/stddiff.spark
